<table>
    <tr style="text-align: center;">
        <th>Name</th>
        <th>Total Price</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Delete</th>
        <th>Edit</th>
         <!--product-->
    </tr>
    <% corder.forEach((orderItem)=> {%>
        <tr style="text-align: center;">
          <td><%= orderItem.name%></td>
          <td><%= orderItem.totalPrice%></td>
          <td><%= orderItem.startDate%></td>
          <td><%= orderItem.endDate%></td>
           <!--product-->
           <td><a href="/order/deleteO?id=<%= orderItem._id %>"><i class="fa fa-trash-o"></i></a></td>
           <td><a href="/order/editO?id=<%= orderItem._id %>"><i class="fa fa-pencil"></i></a></td>
        </tr>
        
   <% }); %>
   
  
</table>