<table>
    <tr>
        <th>Name</th>
        <th>totalPrice</th>
        <th>startDate</th>
        <th>endDate</th>
         <!--product-->
    </tr>
    <% corder.forEach((orderItem)=> {%>
        <tr>
          <td><%= orderItem.name%></td>
          <td><%= orderItem.totalPrice%></td>
          <td><%= orderItem.startDate%></td>
          <td><%= orderItem.endDate%></td>
           <!--product-->
           <td><a href="/order/deleteO?id=<%= orderItem._id %>">Delete</a></td>
           <td><a href="/order/editO?id=<%= orderItem._id %>">Edit</a></td>
        </tr>
        
   <% }); %>
   
  
</table>