<table style="text-align: center;" class="table table-dark table-striped-columns">
    <tr >
        <th>Name</th>
        <th>Start Date</th>
        <th>Status</th>
        <th>Products Ordered</th>
        <!-- <th>Delete</th> -->
         <!--product-->
    </tr>
    <% corder.forEach((orderItem)=> {%>
        <tr style="text-align: center;">
          <td><%= orderItem.name%></td>
          <td><%= dayjs(orderItem.startDate).fromNow(true)%> ago</td>
        <td><%= orderItem.status %></td>
        <td><% orderItem.products.forEach(one=>{ %>
            "<%= one.name %>"<br>
        <% }) %>
        </td>
           <!--product-->
           <!-- <td><a href="/order/deleteO?id=<%= orderItem._id %>"><i class="fa fa-trash-o"></i></a></td>
           <td><a href="/order/editO?id=<%= orderItem._id %>"><i class="fa fa-pencil"></i></a></td> -->
        </tr>
        
   <% }); %>
   
  
</table>