<div>
<img />
</div>

    <div>
        <%= singleProduct.name %>
    </div>
    <div>
        <%= singleProduct.description %>
    </div>
    <div>

        <%= singleProduct.price %>
    </div>
    <div>
        <%= singleProduct.quantity %>
    </div>
    <div>
        <%= singleProduct.category %>
    </div>
    <div>
        <%= singleProduct.details %>
    </div>


