
<div>
    <!-- it should be float image-->
    <div>
        <img />
    </div>
    <div>
        <h5>Product</h5>
        <% allProducts.forEach(aProducts => { %>
            
       
        <div>
            <%= aProducts.name %>
        </div>
        <div>
            <%= aProducts.description %>
        </div>
        <div>
    
            <%= aProducts.price %>
        </div>
        <div>
            <%= aProducts.quantity %>
        </div>
        <div>
            <%= aProducts.category %>
        </div>
        <div>
            <%= aProducts.details %>
        </div>
    <%  });  %>
    </div>
   
   

</div>