<h4>Cart</h4>
<% cart.product.forEach((product) => { %>
<ul>
        <div>   
            <li><%= product.name %></li>
            <li><%= product.description %></li>
            <li><%= product.price %></li>
            <li><%= product.quantity %></li>
            <li><%= product.reviews %></li>
            <li><%= product.category %></li>
            <li><%= product.details %></li>

        </div> 
</ul>
<%});%>