<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Address</th>
         <!--product-->
    </tr>
    <% shop.forEach((shop)=> {%>
        <tr>
          <td><%= shop.name%></td>
          <td><%= shop.email%></td>
          <td><%= shop.phoneNumber%></td>
          <td><%= shop.address%></td>
          

    <td> <a href="/shop/editS?id=<%=shop._id%>"> Edit</a> </td>
    <td> <a href="/shop/deleteS?id=<%=shop._id%>">Delete</a></td>
    
    
    
    </tr>
    
        <%})%>
    



   
</table>

