<div class="album py-5 bg-body-tertiary">
    <h2 style="text-align: center;">View All Shops</h2>
    <br>
      <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <% shop.forEach((shop)=> {%>
                <div class="col">
                    <div class="card shadow-sm">
                      <img class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"src="/images/<%= shop.image %>" width="100%" height="100%" fill="#55595c" width="100%" height="100%" fill="#55595c" />
                      <div class="card-body">
                        <p class="card-text">Shop Name:<br><%= shop.name %><br>
                         Shop Number: <br> <%= shop.phoneNumber %><br>
                         Shop Address:<br><%= shop.address %><br>
                         Shop Product List:  <% shop.products.forEach((sh)=>{%>
                            "<%=sh.name%>"<br>
                           <%  }); %>

                      </p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                           
                          <% if (userType=="Admin"){ %>
                          <a href="/shop/editS?id=<%= shop._id %>">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                          </a>
                          <% } %>
                          <% if (userType=="Admin"){ %>
                              <a href="/shop/deleteS?id=<%= shop._id %>">
                                  <button type="button" class="btn btn-sm btn-outline-secondary"><i class="fa fa-trash-o"></i></button>
                                </a>
                                <% } %>
                          </div>
                          <small class="text-body-secondary"><%= dayjs(shop.createdAt).fromNow(true) %></small>
                        </div>
                      </div>
                    </div>
                  </div>
                
                <%})%>


            </div>
        </div>
        </div>
        </div>